.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calls {
  position: relative;
  display: flex;
  max-width: 1000px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.call {
  margin-bottom: 20px;
}
