:root {
  --primaryBase: #00b388;
  --greyBase: #d9d9d5;
}

html {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  height: 100%;
}

body {
  height: 100%;
}

*,
*:before,
*:after {
  font-family: "Roboto Mono", monospace !important;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

#root {
  display: flex;
}

main {
  display: flex;
  flex: 1;
}
